<%- include('partials/head'); %>
    <h1 class="home-title">DocShare</h1>
    <a href="/login" role="button">Login</a>
    <a href="/register" role="button">register</a>
<%- include('partials/footer'); %>