<%- include('partials/head'); %>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <a href="/auth/google">Google</a>
<%- include('partials/footer'); %>